.title {
  margin-bottom: 2rem;
}

.container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actionButton {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-wrap: nowrap;
}

.actionButton:hover {
  background: gray;
}
